<div class="row" ng-controller="EditNoteCtrl">
  <div class="span8">

    <form ng-submit="save()">
      <div>
        <span class="help-block">Title</span>
        <input class="field span5" type="text" ng-model="note.title"  size="40"
               placeholder="note title.."><br/>
        <span class="help-block">Body</span>
        <textarea class="field span6" rows="10" ng-model="note.text" placeholder="note body.."></textarea>
      </div>
      <button class="btn-primary" type="submit">save</button>
    </form>

  </div>
</div>
