body {
	margin-top: 40px;
}
section {
	padding-top: 20px;
}

a {
   text-decoration: underline;
}
a :hover {
   cursor: pointer;
   text-decoration: underline;
}
img {
   border: none;
}


.done-true {
  text-decoration: line-through;
  color: grey;
}

div.todo-nav {
  float: left;
  width:80%;
}

div.tag-nav {
  float: right;
  width:20%;
}

div.tags {
  padding-top:1px;
  padding-bottom:1px;
}

div.tags span {
  margin:2px;
  padding-top:1px;
  padding-bottom:1px;
  padding-left:3px;
  padding-right:3px;

  background-color:#abc;
  border-radius: 3px;
}

/* TODO re-use CSS from div.tags */
.tag-filter {
  border-radius: 3px;
  background-color:#fff;
}

.tag-filter.false {
}

.tag-filter.true {
  background-color:#abc;
}
