body {
    padding-top: 60px;
}

a :hover {
    text-decoration: underline;
}

img {
    border: none;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

/*------------------------------------------------*/
/* tag related CSS */
/*------------------------------------------------*/
div.tags .label {
    margin:2px;
}

.selecttags .label {
    background-color:#ccc;
    color:#333;
    text-shadow: none;
}

.label.selected {
    background-color:#459;
    color:#fff;
}
