<div class="row">
  <div class="span9" ng-controller="TodoCtrl">
    <span>{{remaining()}} of {{todos.length}} remaining</span>
    [ <a href="" ng-click="archive()">archive</a> ]

    <form ng-submit="addTodo()">
      <div class="form-inline">
        <input class="input-xxlarge" type="text" ng-model="todoText"  size="30"
               placeholder="add new todo here">
        <button class="btn-primary" type="submit">add</button>
      </div>
    </form>


    <ul class="unstyled">
      <li ng-repeat="todo in todos | filter:doFilterByTag">

        <label class="checkbox done-{{todo.done}}">
          <input type="checkbox" ng-model="todo.done" ng-click="checkTodo(todo)">
          {{todo.text}}
        </label>


        <div ng-controller="TodoItemCtrl">
          <form ng-submit="addTag()">
            <div class="form-inline">
              <input class="input-mini" type="text" ng-model="tagText" size="20"
                     placeholder="add tag.." >
              <button class="btn btn-mini" type="submit">add</button>
            </div>
          </form>

          <div class="tags">
            <span class="tag" ng-repeat="tag in todo.tags">{{tag.tag}}&nbsp;</span>
          </div>
        </div>

      </li>
    </ul>
  </div>

  <div class="span3">
    <selecttags />
  </div>

</div>
